.container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.cart__container {
  padding: 20px;
}

.cart_product {
  padding: 20px;
  border-bottom: 1px solid rgb(193, 193, 193);
}

.cart__container div {
  border: none;
}

.cart__container h2,
.cart__container h3 {
  padding: 10px;
}

.cart__container hr {
  margin: 10px;
}

.cart_product {
  display: flex;
  gap: 10px;
}

.btn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn {
  padding: 5px 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  border: none;
}

.btn:hover {
  background-color: #d49644;
}

.subtotal {
  padding: 20px;
  min-width: 300px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(193, 193, 193);
  background-color: rgb(242, 241, 241);
  border-radius: 5px;
}

.subtotal a {
  text-align: center;
  width: 100%;
  border: none;
  background-color: #febd69;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
}

.subtotal a:hover {
  background: #d49644;
}

.subtotal > div,
.subtotal span {
  display: flex;
  gap: 20px;
}

@media (max-width: 968px) {
  .container,.cart_product {
    flex-direction: column;
  }

  .cart__product {
    display: grid;
    grid-template-columns: auto 50px;
  }

  .btn_container {
    flex-direction: row;
  }
}

.cart__container img {
  width: 100px;
}