.product__container {
  display: grid;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(6, 1fr);
}

@media(max-width: 1300px) {
  .product__container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media(max-width: 1000px) {
  .product__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media(max-width: 800px) {
  .product__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width: 575px) {
  .product__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 380px) {
  .product__container {
    grid-template-columns: 1fr;
  }
}