.productDetailContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
  color: rgb(33, 33, 33);
}

.product_detail_header {
  text-align: center;
  margin-top: 20px;
  color: rgb(45, 45, 45);
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .productDetailContainer {
    flex-direction: column;
  }
}